<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../lib/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="shortcut icon" href="../img/logo.avif">
    <title>MICHI TYPES</title>

</head>
<body>
    <!--menu principal-->
    <div class="menu-principal">
        <div class="logo" id="logo">
            <img src="../img/logo.avif" alt="logo">
        </div>
        <div class="menu-bar" id="menubar">
            <i class="fas fa-angle-right" id="btnmenuclose"></i>
            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="">maullidos</a></li>
                    <li><a href="">ronroneos</a></li>
                    <li><a href="">amasado gatuno</a></li>
                </ul>
            </nav>
            <div class="sociales">
                <a href=""><span class="fab fa-facebook"></span></a>
                <a href=""><span class="fab fa-instagram"></span></a>
                <a href=""><span class="fab fa-twitter"></span></a>
                <a href=""><span class="fab fa-youtube"></span></a>

            </div>
        </div>
        <i class="fas fa-bars" id="btnmenuopen"></i>


    </div>
    <!--slider de michitos-->
    <section id="menu-productos">
        <div class="contenedor-principal">
            <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>
            
            <div class="slider">
                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>MICHA <b>DELUXE</b></h2>
                        <h1>la pelusa</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero dolor delectus nesciunt 
                        corrupti est reiciendis ullam! Ut libero ducimus maiores </p>
                        <button class="btn">pidela aquí!<span class="fas fa-angle-right"></span></button>
                    </div>
        
                    <div class="imagen-productos">
                        <img src="../img/gato1.png" alt="" id="img">
                    </div>     
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>MICHA <b>MANCITO</b></h2>
                        <h1>EL PANCITO</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero dolor delectus nesciunt 
                        corrupti est reiciendis ullam! Ut libero ducimus maiores </p>
                        <button class="btn">pidela aquí!<span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/gato2.jpg" alt="" id="img">
                    </div>
                </div>
                
                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>MICHO <b>MERLINI</b></h2>
                        <h1>EL NO LE HACE NADI</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero dolor delectus nesciunt 
                        corrupti est reiciendis ullam! Ut libero ducimus maiores </p>
                        <button class="btn">pidela aquí!<span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/gato3.png" alt="" id="img">
                    </div>
    
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2> THORSITA <b>PANCITA</b></h2>
                        <h1>NO LE TOQUES LA GUATITA</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero dolor delectus nesciunt 
                        corrupti est reiciendis ullam! Ut libero ducimus maiores </p>
                        <button class="btn">pidela aquí!<span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../img/gato4.png" alt="" id="img">
                    </div>
                </div>
            </div>
            
            <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
        </div>
    </section>



    <script src="../js/app.js"></script>
</body>
</html>